
body {
    font-family: Courier New, monospace;
    background-color: gray;
    text-align: center;
}
.container {
    background-color: #fff;
    padding: 30px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 0 50px #000000;
}

.containerMaior{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

h1 { 
    color: #333; 
}

p { 
    font-size: 18px;
}

.pInput{
    text-transform: uppercase;
}

.input{
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

.botaoCalcular{
    background-color: #4CAF50;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 